<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.Fnaf.Timer"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Fnaf Timer</name>

  <description>
      timer that passes 1 hour every 3 minutes.
  </description>

  <author href="https://youtube.com" email="fuckoff@gmail.com">
      IndigoDestiny
  </author>

  <icon src="icon.png" />

</widget>